* {
  box-sizing: border-box;
  font-size: 10px;
}
body {
  background-color: azure;
  max-width: 500px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}
button:active,
button:focus {
  outline: none;
}
